{% extends 'siteimoveis/base.html' %}

{% block content %}

<form action="{% url 'imovelpesquisa' %}" method="POST" class="form-buscar">{% csrf_token %}
<input type="descricao" name="pesquisa" placeholder="Procure pelo Bairro" style="width: 75%;">
<button type="submit" class="button-buscar" ><h5>Pesquisar</h5></button>
</form>


{% for imovel in imoveis %}
<br>
<img src="{{ imovel.imagem.url }}" width="150" height="150" >
<br>{{imovel.anuncio}}

<br>Endereco: {{imovel.endereco }}
<br>Bairro: {{imovel.bairro}}
<br>Contato: {{imovel.vendedor }}

{%endfor%}

<br>
{% endblock %}
