{% extends 'siteimoveis/base.html' %}



{% block head%}

<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
   <meta charset="utf-8">
   <style>
     html, body {
       height: 100%;
       margin: 0;
       padding: 0;
     }
     #map {
       height: 35%;
       width: 35%;
     }
   </style>



{%endblock%}

{% block content %}
<center>
<br>
<h1 align="center" > Imóveis por Bairro</h1>

{% for pesquisa in pesquisas %}
<br>
<div class="jumbotron">

  <p><img src="{{ pesquisa.imagem.url }}" width="150" height="150" align="left" >

    {{pesquisa.anuncio}}<br/>
  Endereco: {{pesquisa.endereco }}<br/>
  Bairro: {{pesquisa.bairro}}<br/>
  Contato: {{pesquisa.vendedor }}<br/></p>
  <p>
  </p>
</div>
{%endfor%}

<br>


<h2 align="center" > Veja os imóveis próximos ao seu bairro</h2>
<br>
  <div id="map"></div>
  <script>

function initMap() {

var map = new google.maps.Map(document.getElementById('map'), {
  zoom: 14,
  center: {lat: {{lat}}, lng: {{lng}}}
});

{%for mapa in mapas%}
var marker = new google.maps.Marker({
  position: {lat: {{mapa.latitude}}, lng: {{mapa.longitude}}},
  map: map,
  title: '{{mapa.anuncio}}'
});
{%endfor%}
}

  </script>
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDtrKjdK9fa89PSzloZ7PhXYpJKpmuG2g&callback=initMap"></script>
</center>

{% endblock %}


{% block script%}



{%endblock%}
